
<!--new-cars start -->
<section id="new-cars" class="new-cars">
    <div class="container">
        <div class="section-header">
            <p>checkout <span>the</span> latest cars</p>
            <h2>newest cars</h2>
        </div><!--/.section-header-->
        <div class="new-cars-content">
            <div class="owl-carousel owl-theme" id="new-cars-carousel">
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img src="assets/images/new-cars-model/ncm1.png" alt="img"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">chevrolet camaro <span> za100</span></a></h2>
                                    <p>
                                        Le quatre cylindres en ligne LTG Ecotec 2,0 L turbocompressé qui a une puissance de 279 ch (205 kW) à 5 600 tr/min et 400 N m de couple à 3 000 tr/min et est le premier 4 cylindres d'une Camaro depuis le modèle de 3e génération. Il est disponible sur les versions 1LS, 1LT et 2LT. 
                                    </p>
                                    
                                    <button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
                                        view details
                                    </button>
                                </div><!--/.new-cars-txt-->	
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img src="assets/images/new-cars-model/ncm2.png" alt="img"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">BMW 7 Series</a></h2>
                                    <p>
                                        Engine options: The 740i is powered by a 3.0L turbocharged 6-cylinder engine with 375 hp, while the 760i xDrive features a 4.4L twin-turbo V8 engine producing 536 hp.
Performance: 0-60 mph in 4.7 seconds for the 740i, with the 760i reaching it in 3.6 seconds.
Interior: Known for its luxurious cabin, the 7 Series comes equipped with leather, premium audio systems, and a host of tech features like gesture controls and ambient lighting​.
                                    </p>
                                    <p class="new-cars-para2">
                                        interior & Technology: Premium interiors with leather upholstery, a large touchscreen with iDrive 7.0, and optional advanced driver assistance systems
                                    </p>
                                    <button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
                                        view details
                                    </button>
                                </div><!--/.new-cars-txt-->	
                            </div><!--/.col-->
                        </div><!--/.row-->	
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img src="assets/images/new-cars-model/ncm3.png" alt="img"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">ferrari 488 superfast</a></h2>
                                    <p>
                                        Engine: The car is powered by a 3.9-liter twin-turbo V8, generating 660 horsepower and 561 lb-ft of torque. This engine is paired with a 7-speed dual-clutch transmission.
Performance: The Ferrari 488 Superfast boasts a top speed of 211 mph and can accelerate from 0 to 60 mph in just 3.0 seconds​

                                    </p>
                                    <p class="new-cars-para2">
                                        he car features advanced aerodynamics, and its dynamic driving systems, such as the Ferrari Dynamic Enhancer, improve cornering performance and braking efficiency​
                                    </p>
                                    <button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
                                        view details
                                    </button>
                                </div><!--/.new-cars-txt-->	
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
            </div><!--/#new-cars-carousel-->
        </div><!--/.new-cars-content-->
    </div><!--/.container-->

</section><!--/.new-cars-->
<!--new-cars end -->
<!--blog start -->
<section id="blog" class="blog"></section><!--/.blog-->
<!--blog end -->

