

<!--brand strat -->
<section id="brand"  class="brand">
    <div class="container">
        <div class="brand-area">
            <div class="owl-carousel owl-theme brand-item">
                <div class="item">
                    <a href="#">
                        <img src="assets/images/brand/br1.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="assets/images/brand/br2.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="assets/images/brand/br3.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img src="assets/images/brand/br4.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->

                <div class="item">
                    <a href="#">
                        <img src="assets/images/brand/br5.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->

                <div class="item">
                    <a href="#">
                        <img src="assets/images/brand/br6.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
            </div><!--/.owl-carousel-->
        </div><!--/.clients-area-->

    </div><!--/.container-->

</section><!--/brand-->	
<!--brand end -->
<!--blog start -->
<section id="blog" class="blog"></section><!--/.blog-->
<!--blog end -->

